{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "tailwindStylesheet": "./src/app/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
